<nav>
    <div class="nav-container">
        <div class="nav-item">
            <a href="{{ path('app_accueil') }}">
                <img src="{{ asset('image/icons/favicon.png') }}" alt="favicon" width="40">
            </a>
        </div>
        <div class="nav-item">
            {% if not app.user %}
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
            <a href="">En savoir plus</a>
            {% else %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
        </div>
        <div class="nav-item">
            <a href="">
                <img src="{{ asset('image/social/github_icon.png') }}" alt="github_icon" width="40">
            </a>
            <a href="">
                <img src="{{ asset('image/social/twitter_icon.png') }}" alt="twitter_icon" width="40">
            </a>
            <a href="">
                <img src="{{ asset('image/social/youtube_icon.png') }}" alt="youtube_icon" width="40">
            </a>
        </div>
    </div>
</nav>
<style>
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        background-color: #192040;
        {#background-image: url("{{ asset('image/791928.png') }}");#}
    }
    .nav-item {
        margin-right: 30px;
        margin-left: 30px;
    }
    .nav-item a {
        /*color: #76B4FF;*/
        color: white;
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
    }
</style>